@import url('https://fonts.googleapis.com/css?family=Ubuntu');
html{
  box-sizing:border-box;
}
body{
  line-height:1.4;
  font-family: 'Ubuntu', sans-serif;
}
h1, p{
  font-family: 'Ubuntu', sans-serif;
  color:black;
}
h3{
  font-family: 'Ubuntu', sans-serif;
}
.carousel{
  width:88%;
  margin:auto;
  padding-top: 20px;
}
.carousel-caption {
  max-width: 100%;
  width:100%;
  background: rgba(129,122,175,0.8);
  left: 0;
  bottom:0;
}
.carousel-control-next-icon,.carousel-control-prev-icon{
  width:30px;
  height:30px;
  background-color: black;
}
#indicators{
  position:relative;
  bottom:-470px;
}
#indicators .active{
  background-color: white;
}
/*Controls navbar text*/
.navbar-light .navbar-nav .nav-link{
  color:black;
  font-family: 'Ubuntu', sans-serif;
  /*For underline animation*/
  text-decoration: none;
  position: relative;
}
/*Underline Animation*/
.navbar-light .navbar-nav .nav-link:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2px solid black;
  transition: 0.4s;
}
.navbar-light .navbar-nav .nav-link:hover:after {
  width: 100%;
}

.lnudTitle{
  text-align: center;
  padding-top: 40px;
}
.lnudHR{
  width:30%;
  border:1px solid #817AAF;
  margin-bottom: 0;
}
.lnudWrapper{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  padding:20px;
}
.card{
  margin: auto;
}
.card-text{
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}
#sc-container{
  font-family: 'Ubuntu', sans-serif;
  width:100%;
  max-width:700px;
  height:100%;
  margin:auto;
  margin-top: 30px;
}
#enemy-HR-sc{
  width:13%;
  border:1px solid #817AAF;
  margin-left: 0;
}
#heroes-HR-sc{
  width:11%;
  border:1px solid #817AAF;
  margin-left: 0;
}
#combat-HR-sc{
  width:12%;
  border:1px solid #817AAF;
  margin-left: 0;
}
#article-img{
  width:100%;
  height:auto;
  padding-top: 40px;
}
#article-text{
  padding-top: 20px;
}
#sb-container{
  font-family: 'Ubuntu', sans-serif;
  width:100%;
  max-width:700px;
  height:100%;
  margin:auto;
  margin-top: 30px;
}
.sb-title-text{
  padding-top: 30px;
}
#enemy-HR-sb{
  width:15%;
  border:1px solid #817AAF;
  margin-left: 0;
}
#heroes-HR-sb{
  width:13%;
  border:1px solid #817AAF;
  margin-left: 0;
}
.sb-img{
  width:100%;
  height:auto;
}
.top-caption-text{
  padding-top: 20px;
}
#char-select-HR{
  width:36%;
  border:1px solid #817AAF;
  margin-left: 0;
}
#hero-classes-HR{
  width:23%;
  border:1px solid #817AAF;
  margin-left: 0;
}
#ui-HR{
  width:4%;
  border:1px solid #817AAF;
  margin-left: 0;
}
#items-HR{
  width:10%;
  border:1px solid #817AAF;
  margin-left: 0;
}
#pics-container{
  width:100%;
  max-width:800px;
  height:100%;
  margin:auto;
  margin-top: 30px;
}
.team-pics{
  max-width: 100%;
  width:253px;
  height:300px;
}
.wrapper{
  display: grid;
  grid-gap:70px;
  margin-top: 50px;
  margin-bottom: 50px;

}
.info{
  display:grid;
  grid-template-columns: repeat(2,1fr);
  margin-right: 50px;
}
.btn, .btn-primary{
  background-color: #817AAF;
  color:white;
}
.btn:hover, .btn-primary:hover{
  background-color: #393074;
  color:white;
}
.makesmall{
  width:35%;
  margin-right: 70px;
}
.gif{
  width:375px;
  height:275px;
}
.devlogHR{
  border:1px solid #817AAF;
}
.logEntry{
  margin-top: 20px;
}
#logEntrySpecial{
  margin-top: 70px;
}
#multi-item-example{
  width:100%;
}
#multi-item-example1{
  width:100%;
}
.carousel-indicators{
  position:relative;
  bottom:-395px;
}
.carousel-indicators li {
  border-radius: 12px;
  width: 12px;
  height: 12px;
  background-color: #404040;
}
.carousel-indicators .active{
  background-color: #817AAF;
}

#blog-container{
  width:100%;
  max-width:700px;
  height:100%;
  margin:auto;
  margin-top: 30px;
}
.post-date {
  float: left;
  width: 130px;
  line-height: 1.9;
  margin-right: 15px;
  color: #999;
  font-size: 18px;
}
.post-info {
  overflow: hidden;
}
.post-title > a{
  color:#817AAF;
}
.post-title:hover > a{
  color:#393074;
}
.blogHR{
  border: 1px solid #817AAF;
}
#blog-header{
  margin-bottom: 30px;
}
.blog-writeup{
  margin-top: 20px;
}
